<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Cadastro de Fornecedores
            </div>
            <div class="card-body">
                <form action="/Fornecedores/Cadastro" method="post">
                    <label>ID</label>
                    <input type="number" name="id" class="form-control" />
                    <br />

                    <label>Nome</label>
                    <input type="text" name="nome" class="form-control" />
                    <br />

                    <label>Descrição</label>
                    <input type="text" name="descricao" class="form-control" />
                    <br />

                    <button type="submit" class="btn btn-success">
                        Cadastrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4"></div>
</div>